  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  


  center {
    margin: 4rem 0rem;
  }
  
  ul {
    list-style: none;
  }
    p {
    font-weight: normal;
    margin: 0rem 4rem;
  }


  body {
    font-family: poppins, sans-serif;
    overflow-x: hidden;
  }

  .menu-container {
    position: relative;
    display: flex;

  }

  .menu-container img {
    min-height: 70vh;
    width: 100%;
    object-fit: cover;
  }


  .menu-container h1 {
    position: absolute;
    top: 10%;
    left: 60%; 
    z-index: 1;
    color: white; 
    font-size: 5rem; 
    font-weight: lighter;   
  }

  .hero-img-container {
    position: relative;
    display: flex;
  }
  
  .hero-img-container img {
    min-height: 100vh;
    width: 100%;
    object-fit: cover;
  }
  
  .hero-img-container a:hover {
    color: white; 
    background-color: black; 
    opacity: 0.7;
    border: 1px solid white; 
    transition: 0.3s; 
  }
  
  .hero-img-container h1 {
    position: absolute;
    top: 20%;
    left: 25%; 
    z-index: 1;
    color: rgb(255, 255, 255); 
    font-size: 5rem; 
    font-weight: lighter;   
  }

  
  .hero-img-container a {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    position: absolute;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 8rem;
    border: 1px solid white;
    text-decoration: none;
    color: white
  }
  


  .container h2 {
    margin: 4rem 4rem 0rem 4rem;
  }
  
  .container {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    min-height: 50vh;
  }
  
  .box {
    display: flex;
    justify-content: space-between;
    height: 50vh;
    width: 33%;
    margin: 1rem 2rem;
    padding: 2rem;
    position: relative;
  }
  
  .box p {
    position: absolute;
    bottom: 0;
    margin: 0rem 2rem;
    color: black; 
    
  }
  
  .box img {
    display: flex;
    width: 100%;
    height: 100%;
    box-shadow: 1.5px 1.5px #cecbcb;
    cursor: pointer;
    object-fit: cover;
  }
  
  .about {
    background-color: #3d3d3d; 
    color: black; 
    height: 50vh;
    width: 100%;
    position: relative; 
    margin-top: 10vh;
    color: white; 
  }
  
  .about h2 {
    font-size: 2rem;
    padding: 4rem 0rem;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about p {
    font-size: 1.5rem;
    margin: 0rem 4rem;
  }


  
  .item-container img {
    width: 100%;
    height: 70vh;
  }
  
  .typing::after {
    content: "";
    position: absolute;
    right: -5px;
    width: 1px;
    height: 5%;
    border-right: 2px solid white;
    animation: blink 0.5s infinite ease;
  }
  
  
  
  .menu-h2 {
    padding: 0rem 4rem;
    margin: 4rem 0rem;
    font-size: 3rem;
  }
  
  .menu-item h3 {
    margin: 0rem 2rem;
    color: black; 
  }
  
  .menu-line {
    border: 1px solid black;
    margin: 1rem 4rem;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 2rem;
    color: black; 
  }
  
  .menu-item p {
    font-size: 2rem;
    margin: 0rem 4rem;
    font-weight: normal; 
    color: black; 
  }
  


 .flexbox-container {
   display: flex; 
   justify-content: space-around ;
   position: relative; 
 }

 .flexbox-item {
   width: 500px; 
   margin: 10vh; 
   border: 3px solid grey; 
   background-color: black; 
 }

 .flexbox-item-1 {
   min-height: 400px; 
 }

 .flexbox-item-1 img {
   object-fit: cover;
   width: 100%; 
   height: 100%;
 }


 .flexbox-item-2 {
  min-height: 400px; 
}

.flexbox-item-2 img {
  object-fit: cover;
  width: 100%; 
  height: 100%;
}


.flexbox-container h1 {
  padding: 2rem 2rem; 
  position: absolute; 
  color: white; 
  font-weight: lighter; 
}

.flexbox-container a {
  padding: 0; 
  cursor: pointer; 
}
